body {
    background-color: #d4d4d4;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1.5;
}

.title {
    font-size: 38px;
    color: #3859a2;
}

.title2 {
    font-size: 32px;
    color: #298d17;
}